<li class='list-group-item'>
  Quest: <%= @quest.name %><br>
  Description: <%= @quest.description %><br>
  <% price = "" %>
  <% @quest.price_range.times do %>
    <% price += "$" %>
  <% end %>
  Price Range: <%= price %><br>
  <% if @current_user == @campaign.leader %>
    <%= link_to "Delete this quest", campaign_quest_path(@campaign, @quest),
      method: :delete,
      data: { confirm: "Are you sure you want to delete this quest?" } %>
  <% end %>
</li>