<div class="container left-container">
  <h3>Recent Campaigns</h3>
  <div class="map"></div>
  <div class="jumbotron">
    
  </div>
</div>
<div class="container right-container">
  <h2>What is Party Quest?</h2>
    <p></p>
</div>
