// THIS IS THE COLOR SCHEME
// USE ONLY THESE COLORS
// Sky: color: #87CEFA
// Bright Coral: color: #F53240
// Golden: color: #F9BE02
// Aquamarine: color: #02C8A7

body {
  font-family: Times;
  font-size: 150%;
  color: #F9BE02;
  // -webkit-text-stroke-width: .1px;
  // -webkit-text-stroke-color: white;
}

.brightCoral {
  color: #F53240;
}

.aquamarine {
  color: #02C8A7;
}

.well {
  background: rgba(204, 204, 204, 0.5);
}

.darken {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    image-url('296H.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.btn {
  color: #F9BE02;
  background-color: #F53240;
  &:hover {
    color: #FDDE7A;
    background-color: #A9010D;
  }
}



.list-group-item {
  background-color: #F53240;
}

.navbar-toggle {
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.2s;
    background-color: #F53240;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggle.collapsed {
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}

.navbar-default {
  .navbar-toggle {
    .icon-bar {
    background-color: #F53240;
    }
  }
  .navbar-nav {
    color: #F53240;
    li {
      a:hover {
        color: #A9010D;
      }
    }
  }
}

.navbar-default .navbar-nav li a {
  color: #F53240;
}

#logo {
  font-weight: 600;
  font-size: 2.4em;
  color: #F53240;
}

.navbar {
  font-size: 1.1em;
  font-weight: 600;
  background-color: #87CEFA;
}

#new_map {
  height: 400px;
}

#index_map {
  height: 400px;
}

.card {
  padding: 5px;
  margin: 10px auto;
}

.card-block {
  width: 80%;
  margin: 0px auto;
}

.form-holder {
  width: 80%;
  margin: 0px auto;
}
