// THIS IS THE COLOR SCHEME
// USE ONLY THESE COLORS
// Text and links: #F2ECD6
// Background for nav bars and w

body {
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  font-size: 165%;
  color: #F2ECD6;
  // -webkit-text-stroke-width: .1px;
  // -webkit-text-stroke-color: white;
}

.well {
  background: rgba(242, 236, 214, 0.5);
  width: 95%;
}

#recentQuests {
  .well {
    background: rgba(0,0,0, 0.0);
    border: none;
    padding: 0px;
    .list-group-item {
      width: 100%;
    }
  }
}

#toggleButton {
  width: 95%;
}

.darken {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.3)
    ),
    image-url('nVripdG.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.btn {
  color: #D8BF8A;
  background-color: #8D7648;
  &:hover {
    color: #dca441;
    background-color: #4a3716;
  }
}

.navbar-toggle {
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggle.collapsed {
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}

.navbar-default {
  .navbar-toggle {
    .icon-bar {
    background-color: #8D7648;
    }
  }
  .navbar-nav {
    li {
      a {
        color: #8D7648;
      }
        &:hover {
          color: #A9010D;
        }
    }
  }
  .open {
    a {
      &:focus {
      background-color: #D8BF8A;
      color: #BA2A1D;
      }
      &:hover {
        color: #BA2A1D;
      }
    }
  }
}

.navbar-default .navbar-nav > .open > a:focus {
    background-color: #D8BF8A;
}

.dropdown-menu {
  background-color: #D8BF8A;
}

#logo {
  font-weight: 600;
  font-size: 2.4em;
  color: #8D7648;
  &:hover {
    color: #4a3716;
  }
}

.navbar {
  font-size: 1.1em;
  font-weight: 600;
  background-color: #D8BF8A;
}

a {
  color: #F2ECD6;
  &:hover, &:active, &:focus {
    color: #675704;
    text-decoration: none;
  }
}

#new_map {
  height: 400px;
}

#index_map {
  height: 400px;
  width: 100%;
}

.card {
  padding: 5px;
  margin: 10px auto;
}

.card-block {
  width: 80%;
  margin: 0px auto;
}

.form-holder {
  width: 80%;
  margin: 0px auto;
}

.list-group-item {
  width: 95%;
  background-color: rgba(216, 191, 138, 0.74);
}

.panel-group {
  width: 95%;
  .panel-heading {
    color: #8D7648;
    background-color: #D8BF8A;
    h4 {
      font-weight: 600;
    }
  }
  .list-group-item {
    width: 100%;
    color: #8D7648;
    background-color: #D8BF8A;
    a {
      color: #8D7648;
      &:hover, &:active, &:focus {
        color: #635408;
        text-decoration: none;
      }
    }
  }
}

@media screen only and (min-width: 300px) and (max-width: 700px) {
  div.row {
    font-size: 200%;
  //   margin-left: 2%;
  }

  li {
    margin-left: 5%;
  }
  // #index_map {
  //   margin-left: 0%;
  // }

  li.list-group-item {
    margin-left: 0%;
  }
}
