// THIS IS THE COLOR SCHEME
// USE ONLY THESE COLORS
// Text and links: #F2ECD6
// Background for nav bars and w

html {
  min-height: 480px;
  min-width: 320px;
}

body {
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  font-size: 165%;
  color: #F2ECD6;
  // -webkit-text-stroke-width: .1px;
  // -webkit-text-stroke-color: white;
}

.well {
  background-color: rgba(216, 191, 138, 0.741176);
}

#recentQuests {
  .well {
    background: rgba(0,0,0, 0.0);
    border: none;
    padding: 0px;
  }
}

.darken {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.3)
    ),
    image-url('nVripdG.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.btn {
  color: #D8BF8A;
  background-color: #8D7648;
  &:hover, &:focus, &:active {
    color: #dca441;
    background-color: #715420;
  }
}

#bio {
  word-wrap: break-word;
}

a#toggleButton {
  width: 100%;
  color: #D8BF8A;
  background-color: #8D7648;
  &:hover, &:focus, &:active {
    color: #dca441;
    background-color: #715420;
  }
}

#start-quest, #search-btn, #add-location, #find-on-map, #log-in {
  color: #D8BF8A;
  background-color: #8D7648;
  &:hover, &:focus, &:active {
    color: #dca441;
    background-color: #715420;
  }
}

 #add-location, #find-on-map {
   width: 150px;
 }

.navbar-toggle {
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggle.collapsed {
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}

.navbar-default {
  .navbar-toggle {
    .icon-bar {
    background-color: #8D7648;
    }
  }
  .navbar-nav {
    li {
      a {
        color: #8D7648;
        &:focus, &:hover, &:active {
          color: #715420;
        }
      }
    }
    .open {
      a {
        background-color: #D8BF8A;
        color: #715420;
        &:focus, &:hover, &:active {
        background-color: #D8BF8A;
        color: #715420;
        }
      }
      .dropdown {
        .dropdown-toggle {
          &:focus, &:hover, &:active, &:visited {
            background-color: #D8BF8A;
            color: #715420;
          }
        }
      }
    }
  }
}

.dropdown-menu {
  background-color: #D8BF8A;
}

#logo {
  font-weight: 600;
  font-size: 2.4em;
  color: #8D7648;
  &:hover {
    color: #715420;
  }
}

.navbar {
  font-size: 1.1em;
  font-weight: 600;
  background-color: #D8BF8A;
}

a {
  color: #F2ECD6;
  &:hover, &:active, &:focus, &:hover &:active {
    color: #675704;
    text-decoration: none;
  }
}

#new_map {
  height: 400px;
}

#index_map {
  height: 400px;
  width: 100%;
}

.card {
  padding: 15px;
  margin: 10px auto;
}

.form-holder {
  width: 80%;
  margin: 0px auto;
}

.list-group-item {
  background-color: rgba(216, 191, 138, 0.74);
  word-wrap: break-word;
}

.panel-group {
  .panel-heading {
    color: #8D7648;
    background-color: #D8BF8A;
    h4 {
      font-weight: 600;
    }
  }
  .list-group-item {
    color: #8D7648;
    background-color: #D8BF8A;
    a {
      color: #8D7648;
      &:hover, &:active, &:focus {
        color: #635408;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 767px) {
  div.row {
    font-size: 200%;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #8D7648;
  }
}

@media (max-width: 300px) {
  div.row {
    font-size: 300%;
  }
}
