<h1>Create A Location!</h1>

  <%= render 'form' %>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZdeZHwH56fPgr1Ray067LcQi1U9SXzTs&callback=initNewMap&libraries=places" async defer></script>
